{
  "android": {
    "keystore": {
      "keystorePath": "./keystores/release.keystore",
      "keystorePassword": "YOUR_KEYSTORE_PASSWORD",
      "keyAlias": "stay-admin",
      "keyPassword": "YOUR_KEY_PASSWORD"
    }
  }
}
